## Veri Bilimi İstatistik

Örnek Teorisi

In [2]:
import numpy as np
populasyon = np.random.randint(0,80,10000)

In [3]:
populasyon[0:10]

array([68, 69, 10, 64, 42, 10, 46, 44, 63,  4])

In [7]:
#orneklem cekimi
np.random.seed(10)
orneklem = np.random.choice(a = populasyon, size =100)
orneklem[0:10]

array([69, 57, 16, 77, 65, 43, 40, 73, 48,  7])

In [8]:
orneklem.mean()

39.74

In [9]:
populasyon.mean()

39.2317

In [10]:
#orneklem dağılımı
np.random.seed(18)
orneklem1 = np.random.choice(a = populasyon, size =100)
orneklem2 = np.random.choice(a = populasyon, size =100)
orneklem3 = np.random.choice(a = populasyon, size =100)
orneklem4 = np.random.choice(a = populasyon, size =100)
orneklem5 = np.random.choice(a = populasyon, size =100)
orneklem6 = np.random.choice(a = populasyon, size =100)
orneklem7 = np.random.choice(a = populasyon, size =100)
orneklem8 = np.random.choice(a = populasyon, size =100)
orneklem9 = np.random.choice(a = populasyon, size =100)
orneklem10 = np.random.choice(a = populasyon, size =100)

In [12]:
print((orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+
      orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+
      orneklem9.mean()+orneklem10.mean())/10)

38.221000000000004

# Betimsel İstatistik

In [13]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [17]:
import researchpy as rp

In [19]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [21]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [22]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [23]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

## İş Ugulaması

In [24]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)

In [25]:
fiyatlar.mean()

58.696

In [26]:
import statsmodels.stats.api as sms

In [27]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(56.91978189769334, 60.472218102306655)

# Olasılık Dağılımları

### Bernoulli Dağılımı

In [28]:
from scipy.stats import bernoulli

In [29]:
p = 0.6

In [30]:
rv = bernoulli(p)
rv.pmf(k=1)

0.6

In [31]:
rv.pmf(k=0)

0.4

### Büyük Sayılar Yasası

In [47]:
rng = np.random.RandomState(123)
for i in np.arange(1,25):
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0,2, size=deney_sayisi)
    yazi_olasılıkları = np.mean(yazi_turalar)
    print("Atış Sayısı: ", deney_sayisi,"---","Yazı Olasılığı: %.2f"% (yazi_olasılıkları*100),"%")

Atış Sayısı:  2 --- Yazı Olasılığı: 50.00 %
Atış Sayısı:  4 --- Yazı Olasılığı: 0.00 %
Atış Sayısı:  8 --- Yazı Olasılığı: 62.50 %
Atış Sayısı:  16 --- Yazı Olasılığı: 43.75 %
Atış Sayısı:  32 --- Yazı Olasılığı: 46.88 %
Atış Sayısı:  64 --- Yazı Olasılığı: 56.25 %
Atış Sayısı:  128 --- Yazı Olasılığı: 50.78 %
Atış Sayısı:  256 --- Yazı Olasılığı: 52.73 %
Atış Sayısı:  512 --- Yazı Olasılığı: 52.93 %
Atış Sayısı:  1024 --- Yazı Olasılığı: 50.20 %
Atış Sayısı:  2048 --- Yazı Olasılığı: 48.58 %
Atış Sayısı:  4096 --- Yazı Olasılığı: 49.49 %
Atış Sayısı:  8192 --- Yazı Olasılığı: 49.58 %
Atış Sayısı:  16384 --- Yazı Olasılığı: 49.96 %
Atış Sayısı:  32768 --- Yazı Olasılığı: 50.00 %
Atış Sayısı:  65536 --- Yazı Olasılığı: 49.68 %
Atış Sayısı:  131072 --- Yazı Olasılığı: 49.97 %
Atış Sayısı:  262144 --- Yazı Olasılığı: 50.13 %
Atış Sayısı:  524288 --- Yazı Olasılığı: 50.01 %
Atış Sayısı:  1048576 --- Yazı Olasılığı: 50.09 %
Atış Sayısı:  2097152 --- Yazı Olasılığı: 50.01 %
Atış Sayısı:  4194304 --- Yazı Olasılığı: 50.03 %
Atış Sayısı:  8388608 --- Yazı Olasılığı: 50.05 %
Atış Sayısı:  16777216 --- Yazı Olasılığı: 50.01 %

In [48]:
rng.randint(0,2, size=5)

array([1, 1, 0, 0, 1])

### Normal Dağılım Problemi

In [50]:
from scipy.stats import norm

In [52]:
# 90 dan fazla olma olasılığı
1-norm.cdf(90,80,5)

0.02275013194817921

In [53]:
#70 den fazla olma olasılığı
1-norm.cdf(70,80,5)

0.9772498680518208

In [54]:
#73 den az olma olasılığı
norm.cdf(73,80,5)

0.08075665923377107

In [55]:
#85 90 arası olma olasılığı
norm.cdf(90,80,5) - norm.cdf(85,80,5)

0.13590512198327787

In [56]:
np.random.randint(140, 220, 1000)

array([164, 155, 198, 202, 211, 204, 145, 201, 208, 177, 202, 153, 216,
       172, 143, 143, 147, 204, 194, 188, 190, 196, 204, 191, 210, 148,
       205, 192, 211, 153, 170, 188, 154, 150, 186, 200, 165, 179, 205,
       198, 182, 187, 213, 141, 179, 182, 148, 204, 166, 149, 173, 178,
       197, 174, 196, 168, 208, 167, 184, 177, 153, 148, 153, 195, 193,
       179, 185, 168, 181, 163, 210, 149, 216, 205, 193, 219, 179, 201,
       214, 189, 143, 209, 153, 147, 177, 190, 164, 156, 204, 202, 163,
       188, 157, 175, 178, 143, 142, 155, 212, 159, 149, 146, 188, 192,
       181, 169, 167, 175, 210, 187, 154, 147, 194, 202, 158, 145, 200,
       178, 161, 200, 144, 162, 208, 159, 150, 198, 141, 149, 217, 141,
       177, 155, 194, 167, 205, 203, 169, 188, 217, 203, 217, 176, 152,
       144, 140, 174, 174, 142, 203, 157, 162, 151, 215, 161, 189, 177,
       183, 206, 154, 217, 196, 189, 152, 164, 155, 176, 172, 188, 188,
       174, 216, 183, 169, 164, 194, 215, 203, 154, 152, 143, 200, 151,
       164, 211, 212, 152, 162, 197, 210, 179, 202, 185, 160, 192, 217,
       148, 169, 147, 181, 178, 183, 140, 155, 156, 148, 141, 143, 157,
       152, 196, 164, 184, 187, 169, 145, 171, 155, 163, 187, 211, 217,
       197, 155, 219, 188, 142, 216, 157, 207, 162, 174, 188, 191, 145,
       198, 166, 154, 200, 214, 175, 217, 158, 191, 155, 145, 144, 193,
       183, 210, 205, 154, 193, 144, 161, 211, 209, 219, 210, 209, 205,
       156, 182, 171, 215, 145, 189, 185, 148, 162, 215, 169, 214, 184,
       205, 213, 217, 163, 218, 218, 187, 157, 197, 197, 216, 185, 212,
       164, 214, 176, 173, 176, 203, 169, 201, 171, 141, 179, 199, 213,
       145, 195, 203, 186, 216, 140, 171, 205, 177, 173, 154, 163, 200,
       182, 159, 163, 218, 205, 167, 187, 200, 206, 160, 144, 188, 177,
       202, 206, 210, 191, 198, 140, 169, 161, 187, 197, 204, 186, 194,
       142, 165, 142, 165, 157, 195, 149, 209, 185, 149, 191, 211, 198,
       205, 197, 200, 157, 160, 213, 216, 209, 154, 142, 171, 194, 146,
       153, 148, 183, 176, 180, 151, 188, 211, 161, 176, 168, 173, 205,
       168, 171, 213, 174, 143, 141, 205, 210, 215, 192, 207, 185, 179,
       198, 151, 142, 145, 163, 172, 144, 184, 175, 143, 162, 189, 178,
       146, 154, 149, 149, 203, 142, 195, 144, 150, 209, 169, 205, 200,
       149, 184, 165, 219, 144, 192, 208, 176, 219, 160, 153, 162, 203,
       217, 179, 198, 187, 154, 191, 164, 191, 178, 160, 196, 215, 206,
       165, 144, 216, 163, 163, 159, 159, 150, 207, 154, 215, 162, 214,
       206, 177, 145, 217, 213, 140, 174, 193, 217, 209, 195, 180, 159,
       156, 156, 209, 178, 146, 189, 208, 156, 211, 163, 212, 187, 189,
       148, 172, 169, 158, 215, 203, 199, 194, 207, 216, 149, 187, 187,
       149, 163, 164, 147, 186, 219, 210, 199, 150, 209, 204, 185, 161,
       205, 142, 157, 163, 141, 199, 188, 170, 204, 156, 173, 212, 211,
       218, 203, 150, 185, 189, 197, 216, 163, 169, 183, 204, 169, 202,
       165, 201, 168, 170, 203, 209, 155, 204, 200, 150, 177, 192, 216,
       143, 190, 166, 162, 193, 145, 152, 145, 170, 143, 167, 152, 163,
       214, 164, 146, 165, 150, 205, 209, 182, 158, 185, 170, 190, 181,
       145, 164, 216, 153, 148, 172, 188, 152, 164, 164, 141, 205, 174,
       158, 158, 175, 202, 149, 208, 206, 182, 174, 153, 194, 205, 203,
       205, 206, 144, 141, 168, 177, 173, 216, 209, 152, 147, 196, 166,
       154, 185, 157, 190, 213, 177, 149, 203, 168, 140, 167, 190, 175,
       145, 178, 200, 208, 181, 142, 144, 198, 203, 149, 165, 215, 143,
       140, 198, 152, 175, 167, 214, 149, 161, 151, 164, 183, 191, 208,
       150, 190, 147, 167, 167, 175, 172, 193, 150, 173, 155, 172, 205,
       190, 202, 173, 189, 153, 161, 178, 191, 143, 174, 195, 216, 151,
       215, 167, 154, 208, 214, 176, 183, 218, 150, 207, 175, 155, 212,
       158, 186, 190, 184, 152, 179, 209, 219, 164, 217, 217, 147, 181,
       171, 195, 144, 153, 203, 158, 175, 209, 213, 215, 158, 167, 211,
       188, 160, 157, 147, 173, 163, 209, 176, 199, 211, 166, 145, 170,
       169, 174, 202, 218, 193, 141, 174, 169, 181, 205, 164, 198, 185,
       160, 182, 147, 156, 162, 151, 199, 204, 196, 201, 210, 142, 195,
       152, 212, 150, 214, 141, 207, 179, 190, 203, 148, 164, 201, 160,
       153, 165, 161, 175, 202, 163, 179, 142, 140, 161, 192, 140, 193,
       190, 145, 191, 182, 173, 193, 140, 203, 150, 152, 147, 174, 155,
       188, 150, 218, 142, 152, 168, 151, 182, 175, 155, 206, 156, 181,
       153, 219, 192, 194, 141, 180, 165, 160, 164, 198, 142, 171, 154,
       180, 190, 151, 179, 216, 154, 215, 164, 211, 154, 169, 189, 146,
       162, 218, 144, 169, 185, 197, 157, 160, 148, 154, 151, 213, 208,
       141, 217, 163, 176, 142, 172, 207, 187, 162, 169, 157, 141, 210,
       188, 172, 175, 219, 149, 144, 177, 206, 215, 156, 217, 189, 157,
       208, 164, 200, 166, 201, 174, 164, 175, 174, 202, 163, 164, 171,
       173, 194, 208, 147, 187, 199, 156, 189, 191, 177, 193, 167, 163,
       185, 210, 204, 159, 200, 204, 215, 197, 215, 153, 149, 189, 188,
       216, 150, 201, 196, 212, 167, 209, 172, 142, 145, 194, 205, 186,
       180, 148, 166, 219, 215, 178, 171, 207, 159, 189, 145, 171, 209,
       211, 198, 180, 181, 194, 187, 165, 170, 167, 152, 208, 211, 192,
       215, 179, 182, 193, 167, 191, 157, 193, 141, 140, 215, 167, 214,
       191, 191, 177, 193, 166, 161, 207, 154, 169, 208, 213, 205, 171,
       148, 187, 176, 167, 191, 170, 217, 190, 197, 186, 172, 148, 146,
       154, 176, 155, 145, 155, 189, 214, 143, 144, 193, 217, 163])